.vscode/**
.vscode-test/**
.idea/**
png
.github/**
.husky/**
src/**
node_modules/**
.gitignore
.prettierrc
.prettierignore
.yarnrc
vsc-extension-quickstart.md
CONTRIBUTING.md
commitlint.config.js
**/tsconfig.json
**/eslint.config.mjs
**/.vscode-test.*
**/*.map
**/*.ts
**/*.md
!README.md
!CHANGELOG.md
